/* =======================

TABLE OF CONTENTS

1. Color Palette
2. Reset Styles
3. Global Styles
4. Navs
5. Landing
# Media Queries

======================= */



/* =======================
1. Color Palette

teal:           00d5c3
red:            ff3e00
light gray:     f2f2f2
medium gray:    d6d6d6
dark gray:      989898
black:          333333

======================= */



/* =======================
2. Reset Styles
======================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* =======================
3. Global Styles
======================= */

html,
body,
#root,
.app-container,
.main-container {
  height: 100%;
}

body {
  font-size: 16px;
}



/* =======================
4. Navs
======================= */

.top-nav {
  background-color: #fff;
  height: 3.5rem;
  position: relative;
}

.top-nav .logo-icon,
.top-nav .logotype {
  position: absolute;
}

.top-nav .logo-icon {
  display: inline-block;
  margin: 1rem;
  width: 7.5%;
}

.top-nav .logotype {
  display: inline-block;
  margin: 1.25rem auto;
  width: 30%;
  left: 35%;
  /*TODO center this logo better*/
}


/* =======================
5. Landing
======================= */

.landing-container {
  /*background-color: #00d5c3;*/
  background: url('../images/cleanapp_landing-background.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  position: relative;
}

.landing-container h1,
.landing-container p  {
  color: #fff;
  text-align: center;
}

.zip-form {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.zip-form input {
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.zip-form input[type=text] {
  width: 67%;
}

.zip-form input[type=submit] {
  -webkit-appearance: none;
  background-color: #f2f2f2;
  border-left: 1px solid #d6d6d6;
  width: 33%;
}



/* =======================
# Media Queries
======================= */
