/* =======================

TABLE OF CONTENTS

1. Color Palette
2. Reset Styles
3. Global Styles
4. Navs
5. Landing
# Media Queries

======================= */



/* =======================
1. Color Palette

teal:           00d5c3
red:            ff3e00
light gray:     f2f2f2
medium gray:    d6d6d6
dark gray:      989898
black:          333333

======================= */



/* =======================
2. Reset Styles
======================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* =======================
3. Global Styles
======================= */

html,
body,
#root,
.app-container,
.main-container {
  height: 100%;
}

body {
  font: 400 16px 'Roboto', sans-serif;
}



/* =======================
4. Navs
======================= */

.top-nav {
  background-color: #fff;
  height: 3.5rem;
  position: relative;
}

.top-nav .logo-icon,
.top-nav .logotype {
  position: absolute;
}

.top-nav .logo-icon {
  display: inline-block;
  margin: 1rem;
  width: 7.5%;
}

.top-nav .logotype {
  display: inline-block;
  margin: 1.25rem auto;
  width: 30%;
  left: 35%;
  /*TODO center this logo better*/
}

.top-nav .hamburger {
  position: absolute;
  right: 5%;
  color: #00d5c3;
  font-size: 2.5rem;
}

.nav-item--closed {
  display: none;
}

.nav-item--open {
  display: block;
  background-color: #f2f2f2;
  color: #00d5c3;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  border-top: 1px solid #d6d6d6;
}

/* =======================
5. Landing
======================= */

.landing-container {
  /*background-color: #00d5c3;*/
  background: url('../images/cleanapp_landing-background.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  position: relative;
}

.landing-container h1,
.landing-container p  {
  color: #fff;
  text-align: center;
}

.zip-form {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.zip-form input {
  border: none;
  font: 400 1rem 'Roboto', sans-serif;
  padding: 1rem;
}

.zip-form input[type=text] {
  width: 67%;
}

.zip-form input[type=submit] {
  -webkit-appearance: none;
  background-color: #f2f2f2;
  border-left: 1px solid #d6d6d6;
  color: #989898;
  text-transform: uppercase;
  width: 33%;
}

.finish-container {
  background-color: #fff;
  background-size: cover;
  height: 100%;
  position: relative;

}

.thank-you {
  display: block;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.checkmark {
  height: 75px;
  width: 75px;
  margin-top: 2rem;
  margin-left: 39%;
}

.order-number, .confirm-email {
  padding-top: 1.5rem;
  text-align: center;
  color: #989898;
  font: 300 16px 'Roboto', sans-serif;
}

.order-number {
  text-transform: uppercase;
}

.home-return {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #00d5c3;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font: 300 16px 'Roboto', sans-serif;
}

/* =======================
# Media Queries
======================= */
